<header>

    <img src="{{asset('img/super_zero.png')}}">

    <h1> Academie des Super Zéros</h1>        
    
        {% include '_parts/nav.html.twig'%}
        {% include '_parts/navAdmin.html.twig'%}

</header>