<nav>
    <ul>
        <li><a href= "{{ path('app_admin_super_zero_index') }}" >Gestion des Super Zero</a></li>
        <li><a href= "{{ path('app_admin_mission_index') }}" >Gestion des missions</a></li>
        <li><a href= "{{ path('app_admin_team_index') }}" >Gestion des teams</a></li>
        <li><a href= "{{ path('app_admin_gadget_index') }}" >Gestion des gadgets</a></li>
    </ul>
</nav