

body {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header {
   text-align: center;
   border-bottom: .25px solid ;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5rem;
    color: rgb(23, 22, 75);
    margin: 0;
    
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    color: rgb(23, 22, 75);
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgb(39, 39, 56);
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
}

.main_banner {
    display: flex;
    justify-content: center;

}

 nav a {
    padding-left: 2rem;
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

a, .connection_options {
   color: rgb(39, 39, 56);
   padding: .5rem ;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;   
}

img  {
    max-width: 10%;
    max-height: 10%;
    width: auto;
    height: auto;
    border-radius: 50%;
    margin-right: 2rem;
}
